*{
    display: flex;
    justify-content: center;
}

#container {
    height: 500px;
    width: 400px;
    border: solid;
    border-radius: 3%;
    border-color: maroon;
    border-width: 3px;
    background-color: darksalmon;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
input {
   height: 30px;
   width: 100px;
   border-radius: 1%;
   border: solid, maroon;
   margin-left: 150px;
}