input(type='nombre' name="nombre" placeholder="nombre")
input(type='apellido' name="apellido" placeholder="apellido")
input(type='telefono' name="telefono" placeholder="telefono") 
input(type='e-mail' name="e-mail" placeholder="e-mail") 