extends layout

block content
  h1= Formulario de Ingreso
  p Welcome to la mejor librería de la historia de Hogwarts...
  img(src='/images/googles.png')
  input(id='title' type='text' value='Titulo del libro')Titulo del libro
  input(id='price' type='text' value='Precio del libro')
  input(id='code' type='text' value='Isbn del libro')
  input(id='imgSrc' type='text' value='Imagen del libro')
  button(id='upload') Subir Información
    