.divEdu{
    color: white;
    font-weight: 300;
    height: 20px;
    width: 80px;
    border-radius: 5%;
    padding: 5px;
    background-color: rgb(38, 153, 96);
}

.num3{
    position: absolute;
    bottom: 142px;
    right: 245px;
}