.box {
    height: 300px;
    width: 60%;
    margin-left: 200px;
    margin-top: -50px;
    box-shadow: 9px 11px 30px -2px rgba(120,107,120,0.86);
    background-color: beige;
}

.text{
    position: relative;
    display: flex;
}

.img{
    height: 300px;
    width: auto;
    float: left;
}

.name{
    position: absolute;
    bottom: -24px;
    right: 82px;
    color: rgb(38, 153, 96);
}

.description{
    position: absolute;
    bottom: -45px;
    right: 160px;
}

.hr{
    background-color: gray;
    border-radius: 10%;
    position: absolute;
    top: 68px;
    right: 7px;
    width: 430px;
    height: 2px;
    margin-right: 50px;
}

.info{
    font-weight: 600;
    width: 50px;
    height: 200px;
    position: absolute;
    top: 82px;
    right: 408px;
}
    
.info2{
    float: left;
    height: 200px;  
    position: absolute;
    top: 82px;
    right: 140px;
}


.ps{
    margin-bottom: 10px;
}
.green{
    width: 100%;
    height: 50px;
    background-color: rgb(38, 153, 96);
    position: absolute;
    bottom: -282px;
}
.icons2{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 32px;
    float: right; 
}
