.boxSkills{
    margin-top: 50px;
    height: 300px;
    width: 60%;
    margin-left: 200px;
    box-shadow: 9px 11px 30px -2px rgba(120,107,120,0.86);
    background-color: beige;
}

.right{
    position: relative;
    height: 300px;
    width: 470.38;
    float: right;
}

.bars{
    position: absolute;
    bottom: 353px;
    right: 198px;
}

.bar{
    height: 3px;
    margin-top: 55px;
}

.a{
   background-color: green;
   width: 270px;
}

.b{
    background-color: green;
    width: 255px;
 }

 .c{
    background-color: green;
    width: 225px;
 }

 .d{
    background-color: green;
    width: 240px;
 }

.infoSkills{
    position: absolute;
    bottom: 367px;
    right: 270px;
    float: left;
    height: 200px; 
    width: 200px; 
}

.info2Skills{
    position: absolute;
    bottom: 367px;
    right: 100px;
    float: right;
    height: 200px;  
}

.ps2{
    margin-bottom: 40px;
}

.skills{
    width: 100%;
    margin-top: 50px;
    margin-left: 50%;
    color: rgb(38, 153, 96);
}

.textSkills{
    height: 300px;
    width: 300px;
}

.written{
    padding: 30px;
}

